/* rs css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.6%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #ae9cff;
}

.container{
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 8rem;
    border-radius: 3rem;
    box-shadow: 0 2rem 4rem rgba(38, 33, 61, 0.2);
}

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* custom input */
.search-box input{
    width: 40rem;
    outline: none;
    border: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 1.6rem;
    padding-top: 2rem;
}
.search-box input:focus{
    box-shadow: none;
    outline: none;
    outline-offset: none;
    border: none;
    border-radius: 0%;
    border-bottom: 3px solid #ae9cff;
    padding-top: 2rem;
}
/* custom button */
.search-box button{
    padding: 2rem 0;
    width: 15rem;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
}
.custom-btn:hover{
    transform: translateY(-3px);
}
.result{
    position: relative;
}

.result h3{
    font-size: 3rem;
    color: #1f194c;
}

.word{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.details{
    display: flex;
    color: #b3b6d4;
    margin: 1rem 0 2rem 0;
}
.details p{
    margin-right: 2rem;
}

.word-meaning{
    color: #575a7b;
}

.word-example{
    color: #575a7b;
    font-style: italic; 
    border-left: 5px solid #ae9cff;
    padding-left: 5rem;
    margin-top: 3rem    ;
}
.div_error{
    color: red;
    margin: 5rem;
    text-align: center;
    font-size: 2rem;
}